body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgb(3,76,149);
    background: linear-gradient(180deg, rgba(3,76,149,1) 0%, rgba(68,185,245,1) 27%, rgba(221,255,216,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p{
    word-break: break-all;
  }

  div{
    display: inline-block;
  }

  .espaço{
    display: block;
  }

  .recipe{
    border-radius: 25px;
    background-color: #f0f0f07e;
    padding: 20px;
    margin: 10px;
  }
  
  header {
    border-radius: 25px;
    background-color: #f0f0f07e;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: "Didact Gothic", sans-serif;
    font-size: 50pt;
    font-weight: bold;
    color: #FEBF04;
    -webkit-text-stroke-width: 2pt;
    -webkit-text-stroke-color: #583804;
}
  
  nav li {
    margin: 0 10px;
  }
  
  .recipe-category {
    display: inline-block;
    margin: 20px;
    padding: 10px;
  }
  
  .recipe-category img {
    width: 150px;
    height: 150px;
  }