body {
    font-family: Arial, sans-serif;
    background: rgb(3,76,149);
    background: linear-gradient(180deg, rgba(3,76,149,1) 0%, rgba(68,185,245,1) 27%, rgba(221,255,216,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Didact Gothic", sans-serif;
    font-size: 80pt;
    font-weight: bolder;
    color: #FEBF04;
    -webkit-text-stroke-width: 3pt;
    -webkit-text-stroke-color: #583804;
    margin-bottom: 100px;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajusta o espaçamento entre os itens */
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria2 {
    display: flex;
    justify-content: space-between;
}

.texto1, .texto2 {
    width: 30%; /* Cada texto ocupará 45% da largura */
    padding: 10px;
    
  }

.icon {
    width: 80px;
    height: 80px;
}

.categoria p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-size: 12pt;
    font-weight: normal;
    color: #333;
}
